#notifications {
    display: flex;
    align-items: center;
    justify-content: center;

}

#mark_all {
    cursor: pointer;
}

#mark-all:hover {
    color: hsl(219, 85%, 26%);
}

img {
    width: 50px;
}

.unread {
    background-color: 'hsl(211, 68%, 94%)' !important
}

.unread p:first-of-type::after {
   content: "";
   background-color: red;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   display: inline-block;
}

.message_card{
    display: flex;
}