var--light-grayish-blue-1: hsl(211,68%,94%);
var--primary-red:hsl(1, 90%, 64%);
var--primary-blue: hsl(219, 85%, 26%);
var--white: hsl(0, 0%, 100%);
var--vl-gray-blue: hsl(210, 60%, 98%);
var--light-gray-blue-1: hsl(211, 68%, 94%);
var--light-gray-blue-2: hsl(205, 33%, 90%);
var--normal-gray-blue: hsl(219, 14%, 63%);
var--dark-gray-blue: hsl(219, 12%, 42%);
var--dark-blue: hsl(224, 21%, 14%);


#notifications {
    display: flex;
    align-items: center;
    justify-content: center;

}

#mark_all {
    cursor: pointer;
}

#mark-all:hover {
    color: hsl(219, 85%, 26%);
}

img {
    width: 50px;
}

.unread {
    background-color:  var(--vl-gray-blue) !important
}

.unread p:first-of-type::after {
   content: "";
   background-color: red;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   display: inline-block;
}

.message_card{
    display: flex;
    align-items: center;
}

.message{
    padding: 1rem;
    border: 1px solid 'hsl(205, 33%, 90%)';
    border-radius: .3rem;
    cursor: pointer;
    margin: 0 0 0 5rem;
}

.message:hover{
    background-color: 'hsl(211, 68%, 94%)';
}

