:root {
    --light-grayish-blue-1: hsl(211,68%,94%);
    --primary-red:hsl(1, 90%, 64%);
    --primary-blue: hsl(219, 85%, 26%);
    --white: hsl(0, 0%, 100%);
    --vl-gray-blue: hsl(210, 60%, 98%);
    --light-gray-blue-1: hsl(211, 68%, 94%);
    --light-gray-blue-2: hsl(205, 33%, 90%);
    --normal-gray-blue: hsl(219, 14%, 63%);
    --dark-gray-blue: hsl(219, 12%, 42%);
    --dark-blue: hsl(224, 21%, 14%);
}

body {
    min-height: 100vh;
}

#notifications {
    display: flex;
    align-items: center;
    justify-content: center;

}



#mark_all {
    cursor: pointer;
}

#mark-all:hover {
    color: var(--primary-blue);
}

img {
    width: 50px;
    scale: 0.9;
}

.unread {
    background-color: var(--vl-gray-blue) !important
}

.unread p:first-of-type::after {
   content: "";
   background-color: var(--primary-red);
   width: 10px;
   height: 10px;
   border-radius: 50%;
   display: inline-block;
}

.message_card{
    display: flex;
    align-items: center;
}

.message{
    padding: 1rem;
    border: 1px solid var(--light-gray-blue-2);
    border-radius: .3rem;
    cursor: pointer;
    margin: 0 0 0 5rem;
}

.message:hover{
    background-color: var(--light-gray-blue-1);
}

